<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Mario Platformer</title>
    <script  defer src="/phaser.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="https://th.bing.com/th/id/OIP.oW8SxyjDhvVI3mpGe_FlHQEEEs?w=166&h=191&c=7&o=5&pid=1.7"/>
      

    <script  defer src="/game.js"> </script>
</head>
<body>


</body>
</html>