#paintbox {
    /* background-image:url(Assets/background.jpg)  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
  background-color: blue;
    
    border: dotted black 1px;
}

#Vaccine{
    position: relative;
    height: 100px;
    width: 50px;
    bottom:200px
    

}